@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

:root {
  --roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #000;

  display: flex;
  height: 100vh;
  justify-content: center;
}

span {
  color: #f00;
}

h1 {
  color: #fff;
  font-family: var(--roboto);
  font-size: 2em;
  /* letter-spacing: 0.05em; */
  text-align: center;
  text-transform: uppercase;
}

main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto auto auto;
  text-align: center;
  width: 76%;
}

.separate-border {
  height: 100%;
}

ul {
  list-style: none;
  /* margin: 0 2.5em; */
}

li {
  font-family: var(--roboto);
  font-size: 1em;
}

.list-title {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: var(--roboto);
  font-size: 1.2em;
  letter-spacing: 0.3em;
  line-height: 1em;
  margin-bottom: 0.7em;
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0;
}

#though {
  font-family: var(--roboto);
  font-size: 0.7em;
  margin-top: 1em;
  text-align: center;
  /* width: 35em; */
}

hr {
  border: 1px solid #fff1;
}

.container {
  background-color: rgb(17, 17, 17);
  border-radius: 10px !important;
  display: flex;
  height: 75%;
  width: 75%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
  padding: 1em;
  width: 75%;
}

a {
  color: #fffc;
  font-size: 0.9em;
  text-decoration: none;
  transition: color 0.5s, text-decoration 0.5s;
}

a:hover {
  color: #f00c;
  text-decoration: underline;
}

footer {
  display: flex;
  margin-right: auto;
  margin-top: auto;
  width: 100%;
}

footer #date {
  font-family: var(--roboto);
  /* font-size: 0.9em;
  letter-spacing: 0.25em; */
}

.image {
  background-color: #000;
  background-image: url("./src/Black-Star-Wars-Phone-Image.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 35%;
}

form {
  margin: 1em 1em 0 1em;
}

form input {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: var(--roboto);
  font-size: 1em;
  justify-content: center;
  margin: 0;
  margin-right: -1em;
  outline: none;
  padding-right: 1em;
  transition: border-bottom 0.5s;
  width: auto;
}

.fa-magnifying-glass {
  color: #f00;
  font-size: 0.7em;
}

form input:focus {
  border-bottom: 1px solid #f00;
}
